{% extends "layout.html" %}

{% load static %}

{% block content %}
  <div class="container m-auto">

    <form action="{% url 'login' %}" method="POST">

      {% csrf_token %}

      <div class="row">

        <div class="col-md-6 mx-auto shadow p-3">
          <h1>Login</h1>

            {{form.username.label_tag}}
            {{form.username}}

            {{form.password.label_tag}}
            {{form.password}}

          <input type="submit"  class="mt-4 btn btn-success" value="Entrar">
        </div>

      </div>

    </form>
      
  </div>

  <script src="{% static '/js/formClasses.js' %}"></script>

{% endblock content %}