{% extends "layout.html" %}

{% load static %}


{% block content %}

{% include "products/includes/product-header.html" %}

<main>
  <form action='' method="POST">
    {% csrf_token %}
    <div class="row">
  
      <div class="col-lg-6">
        <div>
          {{form.name.label_tag}}
          {{form.name}}
          
          <div class="text-danger">
            {{form.name.errors}}
          </div>
        </div>
      
        <div>
          {{form.default_price.label_tag}}
          {{form.default_price}}
          <div class="text-danger">
            {{form.default_price.errors}}
          </div>
        </div>

        <div>
          {{form.default_cost.label_tag}}
          {{form.default_cost}}
          <div class="text-danger">
            {{form.default_cost.errors}}
          </div>
        </div> 
    
        <div class="mt-3">
          <input type="submit" class="btn btn-success" value="Cadastrar categoria">
        </div>
      </div>
      
    </div>
  
  </form>
</main>

<script src="{% static '/js/formClasses.js' %}"></script>

{% endblock content %}